## Importing Pandas

In [6]:
# pip install pandas

In [65]:
import pandas as pd

## Version

In [62]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [63]:
print(pd.__version__)

2.0.1

## Pandas Series

In [3]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

In [7]:
s.ndim

1

In [8]:
s.size

4

In [9]:
s[1]

20

In [11]:
s.head(2)

0    10
1    20
dtype: int64

In [12]:
pd.Series([1,2,3,4,5] ,index=[7,1,4,5,6])

7    1
1    2
4    3
5    4
6    5
dtype: int64

In [13]:
ages = {"ABC" : 42 , "DEF" : 53 , "GHI" : 21}

In [19]:
ages

{'ABC': 42, 'DEF': 53, 'GHI': 21}

In [14]:
type(ages)

dict

In [15]:
pd.Series(ages)

ABC    42
DEF    53
GHI    21
dtype: int64

In [16]:
import numpy as np

In [17]:
s1 = np.array([1,2,3,4,5,6])

In [22]:
type(s1)

numpy.ndarray

In [20]:
s2 = pd.array([1,2,3,4])

In [23]:
type(s2)

pandas.core.arrays.integer.IntegerArray

In [18]:
pd.Series(s1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [29]:
df

       Name  Age
0   Parijat   13
1    Rupali   14
2  Prashant   15

In [30]:
df['Age']

0    13
1    14
2    15
Name: Age, dtype: int64

In [31]:
arr = np.array([1,2,3,4,5,6,7,8,9]).reshape(3,3)

In [32]:
pd.DataFrame(arr , columns=["Var1" , "var2" , "var3"])

   Var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [35]:
df.head(2)

      Name  Age
0  Parijat   13
1   Rupali   14

In [36]:
df.tail(1)

       Name  Age
2  Prashant   15

In [38]:
df.Age   # df['Age']

0    13
1    14
2    15
Name: Age, dtype: int64

In [39]:
type(df.Age)

pandas.core.series.Series

In [40]:
df["Age"][1]

14

## Dataset Import

In [41]:
%pwd

'C:\\Users\\shant\\Desktop\\DataScience\\Intellipat\\July2023\\Pandas'

In [94]:
cars = pd.read_csv("mtcars2.csv")

In [43]:
type(cars)

pandas.core.frame.DataFrame

In [46]:
cars.head()  # by default displays top 5 rows

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [48]:
cars.head(10)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [47]:
cars.shape

(32, 13)

In [50]:
cars.tail()   # by deafult displays the bottom 5 rows of a dataframe

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [51]:
# print summary of the columns
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No        32 non-null     int64
 1   Unnamed: 1  32 non-null     object
 2   mpg         32 non-null     float64
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        29 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [58]:
#mean
cars.mean(numeric_only=True)

S.No     16.500000
mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.674828
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [59]:
cars.median(numeric_only=True)

S.No     16.500
mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.420
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [57]:
# Descriptive statistics summary
cars.describe()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

## Cleaning

In [95]:
cars = cars.rename(columns={'Unnamed: 1' : 'model'})

In [83]:
cars.head()

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [72]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S.No    32 non-null     int64
 1   model   32 non-null     object
 2   mpg     32 non-null     float64
 3   cyl     32 non-null     int64
 4   disp    32 non-null     float64
 5   hp      32 non-null     int64
 6   drat    32 non-null     float64
 7   wt      32 non-null     float64
 8   qsec    29 non-null     float64
 9   vs      32 non-null     int64
 10  am      32 non-null     int64
 11  gear    32 non-null     int64
 12  carb    32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [96]:
cars.qsec.isna().sum()

3

In [97]:
# fill the null value with mean of the column
cars.qsec = cars.qsec.fillna(cars.qsec.mean())

In [98]:
cars.qsec.isna().sum()

0

In [93]:
cars.shape[0] - cars.qsec.isna().sum()

32

In [99]:
cars.head()

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [100]:
# drop unwanted columns
cars =  cars.drop(columns=['S.No'])

In [101]:
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [106]:
cars.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [107]:
cars.cyl.astype(float)

0     6.0
1     6.0
2     4.0
3     6.0
4     8.0
5     6.0
6     8.0
7     4.0
8     4.0
9     6.0
10    6.0
11    8.0
12    8.0
13    8.0
14    8.0
15    8.0
16    8.0
17    4.0
18    4.0
19    4.0
20    4.0
21    8.0
22    8.0
23    8.0
24    8.0
25    4.0
26    4.0
27    4.0
28    8.0
29    6.0
30    8.0
31    4.0
Name: cyl, dtype: float64

In [109]:
# correlation # varies from -1 to 1 , it also given the direction of relation
cars.corr(numeric_only=True)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.360351,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.548775,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.385207,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.650674,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.120175,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.130362,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.360351,-0.548775,-0.385207,-0.650674,0.120175,-0.130362,1.000000,0.667873,-0.271763,-0.203784,-0.573987
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.667873,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.271763,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.203784,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.573987,-0.569607,0.057534,0.274073,1.000000

In [111]:
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [117]:
carss = pd.read_csv('mtcars2.csv')
carss.head()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [112]:
cars.to_csv('cars_updated.csv', index=False)

In [113]:
cars_updated = pd.read_csv('cars_updated.csv')

In [114]:
cars_updated.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2