# Module 1: Case Study - 1

## Create a list containing squares of numbers from 1 to 10 
(HINT: use List Comprehension).

In [4]:
sq_nos_1_10 = [x**2 for x in range(1,11)]
print(sq_nos_1_10, end=' ')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Write a function to check if the year number is a leap year.

In [11]:
def is_leapyr(year):
    if year%4 == 0:
        if year%100 == 0:
            if year%400 == 0:
                return 1
            else:
                return 0
        else:
            return 1
    else:
        return 0
years = [x for x in range(1988,2030) if is_leapyr(x)]
print(years)

[1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028]

## Write a function to take an array and return another array that contains the members of the first array that are even.

In [12]:
def ret_even(List):
    return [x for x in List if x%2==0]
print(ret_even(range(1,10)))

[2, 4, 6, 8]

## Write a function that takes 2 arrays and prints the members of the first array that are present in the second array. 
(HINT: use Membership
Comprehension)

In [13]:
def ret_same(List1, List2):
    return [x for x in List1 if x in List2]
ret_same(range(1,10), range(5,15))

[5, 6, 7, 8, 9]

# Module 1: Case Study - 2

## Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):
1. Concatenate the two tuples and store it in “t_combine”
2. Repeat the elements of “t_combine” 3 times
3. Access the 3rd element from “t_combine”
4. Access the first three elements from “t_combine”
5. Access the last three elements from “t_combine”

In [18]:
T1 = (10,20,30)
T2 = (40,50,60)
t_combine = T1+T2
print(t_combine)

t_combine*=3
print(t_combine)

print(t_combine[2])

print(t_combine[:3])

print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

## Create a list ‘my_list’ with these elements:
1. First element is a tuple with values 1, 2, 3
2. Second element is a tuple with values “a”, “b”, “c”
3. Third element is a tuple with values True, False

In [19]:
my_list = [(1,2,3),('a','b','c'),(True,False)]

print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

## Append a new tuple – (1, ‘a’, True) to ‘my_list’:
1. Append a new list – *“sparta”, 123+ to my_list

In [21]:
my_list.append((1,'a',True))
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

## Create a dictionary ‘fruit’ where:
1. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
2. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
3. Extract all the keys from ‘fruit’
4. Extract all the values from ‘fruit’

In [22]:
fruit ={
    'Fruit' : ('Apple','Banana','Mango','Guava'),
    'Cost' : (85,54,120,70)
}
print(fruit.keys())
print(fruit.values())

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

## Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and print the result.

In [23]:
my_set = {1,1,"a",'a',True,True}
print(my_set)

{'a', 1}