# Python Basics Assignment
Mohammad Jasir - mohammedjasir660@gmail.com

### Q1. Using Python script as a calculator and Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.

$ùê¥ = ùëù (1 + ùëü/ 100)^n$

**b. 162.89**

In [2]:
n, r, p = 10, 5, 100
A = p * ( 1 + (r / 100) )**n
print(f'The result is {A}')

The result is 162.8894626777442

### Q2. In a given string format operation, how will you print the given string.

A = 10
B = 20

Str = "There are {} students in the class, with {} who play at least one sport."

**c. print(string.format(b,a))**

In [5]:
A = 10
B = 20

Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

### Q3. In a given sample string, How do you print a double quoted string in between a
regular string using the escape character?

Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

**a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)**

In [6]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

### Q4. What will be the output of the following code?

x = lambda a,b: a//b
x(10,3)

**b. 3**

In [7]:
x = lambda a,b: a//b 
print(x(10.,3))

3.0

### Q5. What will be the output of the following code?

A = 10

B = 12

print("Smaller") if A == B else print("Greater") if A < B else print("True")

**c. Greater**

In [8]:
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

### Q6. What will be the output of the following code?

**a. [2 7 3 5 4 6]**

In [13]:
import os
import numpy as np
my_list1=[2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

### Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

**d. string[slice(8,13,1)]**

In [15]:
string = "Machine Learning"
string[slice(8,13,1)]

'Learn'

### Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the value 18?

**b. 2**

In [20]:
Nums = [i for i in range(10,25,4)]
print(Nums.index(18))

2

### Q9. Which of the following is true with respect to the below codes?

**a. num1 = num2**

In [21]:
num1 = 5**4
num2 = pow(5,4)
print(num1, num2)

625 625

### Q10.A Python NameError exception is raised when: -

**a. Trying to access a variable which has not been defined**

In [23]:
print(variable)

NameError: name 'variable' is not defined

### Q11.What type of exception will be raised for the code given below?

**c. ValueError**

In [24]:
x = 'string'
int(x)

ValueError: invalid literal for int() with base 10: 'string'

### Q12.A FileNotFoundError exception is raised by operating system errors when: -

**b. A file or directory is requested but does not exist in the working directory**

In [25]:
with open('file.txt'):
    pass

FileNotFoundError: [Errno 2] No such file or directory: 'file.txt'

### Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -

**b. Character**

In [26]:
z="ID-5632"
type(z)

str

### Q14.Which of the following variable(s) are character data type?

**d. All of the above**

### Q15.Choose the symbol/s that does not have the ability to convert any values to string?

**b. ‚Äú ‚Äù**

### Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:

Country: India China Japan Qatar France \
State: Delhi Beijing Tokyo Doha Marseilles

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

**Country['France']='Paris'\
Country.update(UpdatedDictionary)**

In [34]:
Country = {
    'India' : 'Delhi',
    'China' : 'Beijing',
    'Japan' : 'Tokyo',
    'Qatar' : 'Doha',
    'France': 'Marseilles'
}
#1
Country['France'] = 'Paris'
print(Country)
#2
UpdatedCountry = {
    'France':'Paris'
}
Country.update(UpdatedCountry)
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

### Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)\
tuple_2 = (8,9,4)\
Identify which of the following code does not work on a tuple.\

a. sum(tuple_1)\
b. len(tuple_2)\
c. tuple_2 + tuple_1 \
d. tuple_1[3] = 45

In [37]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2+tuple_1)
try:
    tuple_1[3]=45
except Exception as e:
    print(e)

27
3
(8, 9, 4, 1, 5, 6, 7, 8)
'tuple' object does not support item assignment

### Q18. How many elements in the following data structure?

**6 elements**

In [38]:
s={1,2,3,4,4,4,5,6}
print(len(s))

6

### Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [42]:
def findPythTriplet(m):
    if m%2==0:
        return m, (m/2)**2-1, (m/2)**2+1
    else:
        return m, (m**2+1)/2, (m**2-1)/2
findPythTriplet(12), findPythTriplet(3)

((12, 35.0, 37.0), (3, 5.0, 4.0))